


$orange: #f3615a;
$primary: $orange;
$purple: #4c3549;
$success: $purple;
/*Falta elegir gris?*/

@font-face {
	font-family: "poppins";
	src: url("../font/Poppins-Thin.ttf");
	font-weight: thin;
}
@font-face {
	font-family: "poppins";
	src: url("../font/Poppins-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "poppins";
	src: url("../font/Poppins-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "poppins";
	src: url("../font/Poppins-Bold.ttf");
	font-weight: bold;
}

$font-family-sans-serif: "poppins";

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1266px,
	xxl: 1266px,
);

$utilities: (
	"vh": (
        property: height,
        class: height,
		values: (
            10: 10vh,
			25: 25vh,
			50: 50vh,
            80: 80vh,
            90: 90vh,
			100: 100vh,
		),
    ),
	"padding-superior": (
        property: padding-top,
        class: pad-top,
		values: (
            5: 5rem,
            10: 10rem,
            footer: 15rem,
            footer-sm: 7rem,
		),
    ),
	"padding-inferior": (
        property: padding-bottom,
        class: pad-bot,
		values: (
            5: 5rem,
            10: 10rem,
		),
    ),
);

.footer-title{
    line-height: 163%;
    align-items: center;
    letter-spacing: 0.125em;
}


@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
.big-container {
    @include make-container();
    width: 80vw;
    @include media-breakpoint-up(sm) {
        width: 70%; 
    }
    @include media-breakpoint-up(md) {  
        width: 70%;
    }
    @include media-breakpoint-up(lg) {  
        width: 80%;
    }
    @include media-breakpoint-up(xl) {  
        width: 90%;
    }
}


@import "../../node_modules/bootstrap/scss/bootstrap";

